*{
    margin: 0px;
    box-sizing: border-box;
    font-family: Open Sans,sans-serif;

}
body{
    background-color:  #111;
    
    
}




h1{
    text-align: center; 
    text-transform: uppercase;
    color: #C40BD5;
    font-weight: 800;

}

h2{
    color: white;
    text-align: center;
    font-weight: 800;
    text-transform: uppercase;
}

p{
<<<<<<< HEAD
    
=======
    display: inline;
>>>>>>> 96cd1e94e5a3f97642be4b9f1509ae936e9bebe4
    color: white;
    text-align: left;
    font-size: 22px;
    line-height: 50px;
}

li{
    color: white;
    line-height: 40px;
    font-size: 20px;
}
li::marker {
    color: #C40BD5; 
  }

img{
    display: block;
    margin: 0;
    padding: 0;
    
}
#picture{
    position: relative;
    top:10%;
    margin-left: 30px;
    border: 5px solid gray;
    border-radius: 10%;
    transition: 0.5s
}

.btn{
    position: relative;
    align-items: center;
    font-size: large;
    font-weight: bold;
    border-radius: 10px;
    color: black;
    background:#fff;
    border:none;
    font-family: "montserrat" sans-serif;
    text-transform: uppercase;
    padding: 10px 5px;
    min-width: 200px;
    margin: 10px;
    cursor: pointer;
    transition: 0.5s;
    

  }
  .btn:hover{
    background: #C40BD5;
    color: #fff;
  }

.info{
    display:inline-block;
    margin-top: 60px;
    bottom: 100;
    width: 40%;
    padding: 20px;
   
  }
  
  .image-container {
    position: absolute;
    width: 450px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    top: 125%;
    left: 50%;
    
  }

  .image-container img {
    width: 200px;
    margin: 10px;
    border: solid 5px gray;
    border-radius: 50px;
  }

  
  
 
  .image-top {
     
      transition: 0.5s;
  }
  .image-top:hover{
    transform: scaleX(-1);
  }
  
  .image-top-left {
    
    transition: 0.5s;
  }
  .image-top-left:hover{
    transform: scaleX(-1);
    
  }
  
  .image-bottom {
     
      transition: 0.5s;
  }
  
  .image-bottom:hover{
    transform: scaleX(-1);
  }
  .image-bottom-left {
    
    transition: 0.5s;
  }
  .image-bottom-left:hover{
    transform: scaleX(-1);
  }

  .sidebar{
    position: fixed;
    top: 200px;
    right:10px;
    width: 90px;
    height: 400px;
    background:none;
    transition: 0.5s;
    overflow: hidden;
    
    

  }

  .sidebar ul{
    position:relative;
  
   
    

  }

  .sidebar ul li{
    position:relative;
    list-style: none;
    
  }

  .sidebar ul li.active{
    background: var(--clr);
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    


  }
  
  .sidebar ul li.active::before{
    content: '';
    position: absolute;
    top: -20px;
    right: 0;
    width: 20px;
    height: 20px;
    border-bottom-right-radius: 20px;
    box-shadow: 5px 5px 0 5px var(--clr);
    background: transparent;
  }
  .sidebar ul li.active::after{
    content: '';
    position: absolute;
    top: -20px;
    right: 0;
    width: 20px;
    height: 20px;
    border-bottom-right-radius: 20px;
    box-shadow: 5px -5px 0 5px var(--clr);
    background: transparent;
  }

  .sidebar ul li.logo{
    margin-bottom: 50px
  }

  .sidebar ul li.logo .icon{
    font-size: 2em;
    color: var(--clr);
  }

  .sidebar ul li.logo .icon{
    font-size: 1.2em;
    font-weight: 500;
    color: var(--clr);
}

.sidebar ul li a{
    display:flex;
    text-decoration:none;
    position: relative;
    white-space: nowrap;
    text-decoration: none;
}

.sidebar ul li a .icon{
    display:flex;
    position: relative;
    justify-content: center;
    align-items: center;
    min-width: 60px;
    padding-left: 10px;
    height: 70px;
    font-size: 1.5em;
    color: #fff
}

.sidebar ul li a .text{
    position: relative;
    display: flex;
    height: 70px;
    align-items: center;
    font-size: 1em;
    color: #fff;
    padding-left: 15px;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    transition: 0.5s;
}
.sidebar ul li.active a .icon{
    color: #fff;

}
.sidebar ul li.active a .text{
    color: #fff;

}

.sidebar ul li:hover a .icon, 
.sidebar ul li:hover a .text {
    color:#fff;
}
.sidebar ul li.active a .icon::before{
    content: '';
    position: absolute;
    inset: 5px;
    width: 60px;
    
    border-radius: 50%;
    transition: 0.5s;
}

.sidebar ul li:hover.active a .icon::before{
    background:var(--bg);
    

}

div.mycontainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  height: 100vh;
  width:100%;
  overflow:hidden;
}
div.mycontainer div {
  width:100;  
  float:left;
  padding:20px
}

div.mycontainer img {
  cursor: pointer;
  max-width: 100%;
  max-height: 100%;
  border: solid 5px gray;
  border-radius: 50px;cursor: pointer;
}

.image-facebook {
     
  transition: 0.5s;
}
.image-facebook:hover{
transform: translate(-5px, -10px);
}

.image-instagram {
     
  transition: 0.5s;
}
.image-instagram:hover{
transform: translate(-5px, -10px);
}

.image-github {
     
  transition: 0.5s;
}
.image-github:hover{
transform: translate(-5px, -10px);
}

#video-container {
  position: relative;
  margin-left: 30px;
  width: 94%;
  height: 85vh;
  border: solid 3px #C40BD5;
  border-radius: 1%;
  
  
}

#background-video {
  width: 100%;
  height: 100%;
  border-radius: 1%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

<<<<<<< HEAD
=======
.error {color: #c30101;}
>>>>>>> 96cd1e94e5a3f97642be4b9f1509ae936e9bebe4
